
// HIGH LEVEL CLASSES

.h {
  @extend .h-even-center;
}

.v {
  @extend .v-even-center;
}

// h-short
.h-start {
  @extend .h-start-center;
}
.h-center {
  @extend .h-center-center;
}
.h-end {
  @extend .h-end-center;
}
.h-even {
  @extend .h-even-center;
}
.h-between {
  @extend .h-between-center;
}

// v-short
.v-start {
  @extend .v-start-center;
}
.v-center {
  @extend .v-center-center;
}
.v-end {
  @extend .v-end-center;
}
.v-even {
  @extend .v-even-center;
}
.v-between {
  @extend .v-between-center;
}


.c {
  @extend .center;
}

.center {
  @extend .vertical;
  @extend .main-axis-center;
  @extend .cross-axis-center;
}

.h-start-start {
  @extend .horizontal;
  @extend .main-axis-start;
  @extend .cross-axis-start;
}

.h-start-center {
  @extend .horizontal;
  @extend .main-axis-start;
  @extend .cross-axis-center;
}

.h-start-end{
  @extend .horizontal;
  @extend .main-axis-start;
  @extend .cross-axis-end;
}

.h-start-stretch {
  @extend .horizontal;
  @extend .main-axis-start;
  @extend .cross-axis-stretch;
}

.h-center-start {
  @extend .horizontal;
  @extend .main-axis-center;
  @extend .cross-axis-start;
}

.h-center-center {
  @extend .horizontal;
  @extend .main-axis-center;
  @extend .cross-axis-center;
}

.h-center-end{
  @extend .horizontal;
  @extend .main-axis-center;
  @extend .cross-axis-end;
}

.h-center-stretch{
  @extend .horizontal;
  @extend .main-axis-center;
  @extend .cross-axis-stretch;
}

.h-end-start{
  @extend .horizontal;
  @extend .main-axis-end;
  @extend .cross-axis-start;
}

.h-end-center{
  @extend .horizontal;
  @extend .main-axis-end;
  @extend .cross-axis-center;
}

.h-end-end{
  @extend .horizontal;
  @extend .main-axis-end;
  @extend .cross-axis-end;
}

.h-end-stretch{
  @extend .horizontal;
  @extend .main-axis-end;
  @extend .cross-axis-stretch;
}

.h-even-start{
  @extend .horizontal;
  @extend .main-axis-space-evenly;
  @extend .cross-axis-start;
}

.h-even-center{
  @extend .horizontal;
  @extend .main-axis-space-evenly;
  @extend .cross-axis-center;
}

.h-even-end{
  @extend .horizontal;
  @extend .main-axis-space-evenly;
  @extend .cross-axis-end;
}

.h-even-stretch{
  @extend .horizontal;
  @extend .main-axis-space-evenly;
  @extend .cross-axis-stretch;
}

.h-between-start{
  @extend .horizontal;
  @extend .main-axis-space-between;
  @extend .cross-axis-start;
}

.h-between-center{
  @extend .horizontal;
  @extend .main-axis-space-between;
  @extend .cross-axis-center;
}

.h-between-center{
  @extend .horizontal;
  @extend .main-axis-space-between;
  @extend .cross-axis-center;
}

.h-between-end{
  @extend .horizontal;
  @extend .main-axis-space-between;
  @extend .cross-axis-end;
}

.h-between-stretch{
  @extend .horizontal;
  @extend .main-axis-space-between;
  @extend .cross-axis-stretch;
}

// v

.v-start-start {
  @extend .vertical;
  @extend .main-axis-start;
  @extend .cross-axis-start;
}

.v-start-center {
  @extend .vertical;
  @extend .main-axis-start;
  @extend .cross-axis-center;
}

.v-start-end{
  @extend .vertical;
  @extend .main-axis-start;
  @extend .cross-axis-end;
}

.v-start-stretch {
  @extend .vertical;
  @extend .main-axis-start;
  @extend .cross-axis-stretch;
}

.v-center-start {
  @extend .vertical;
  @extend .main-axis-center;
  @extend .cross-axis-start;
}

.v-center-center {
  @extend .vertical;
  @extend .main-axis-center;
  @extend .cross-axis-center;
}

.v-center-end{
  @extend .vertical;
  @extend .main-axis-center;
  @extend .cross-axis-end;
}

.v-center-stretch{
  @extend .vertical;
  @extend .main-axis-center;
  @extend .cross-axis-stretch;
}

.v-end-start{
  @extend .vertical;
  @extend .main-axis-end;
  @extend .cross-axis-start;
}

.v-end-center{
  @extend .vertical;
  @extend .main-axis-end;
  @extend .cross-axis-center;
}

.v-end-end{
  @extend .vertical;
  @extend .main-axis-end;
  @extend .cross-axis-end;
}

.v-end-stretch{
  @extend .vertical;
  @extend .main-axis-end;
  @extend .cross-axis-stretch;
}

.v-even-start{
  @extend .vertical;
  @extend .main-axis-space-evenly;
  @extend .cross-axis-start;
}

.v-even-center{
  @extend .vertical;
  @extend .main-axis-space-evenly;
  @extend .cross-axis-center;
}

.v-even-end{
  @extend .vertical;
  @extend .main-axis-space-evenly;
  @extend .cross-axis-end;
}

.v-even-stretch{
  @extend .vertical;
  @extend .main-axis-space-evenly;
  @extend .cross-axis-stretch;
}

.v-between-start{
  @extend .vertical;
  @extend .main-axis-space-between;
  @extend .cross-axis-start;
}

.v-between-center{
  @extend .vertical;
  @extend .main-axis-space-between;
  @extend .cross-axis-center;
}

.v-between-center{
  @extend .vertical;
  @extend .main-axis-space-between;
  @extend .cross-axis-center;
}

.v-between-end{
  @extend .vertical;
  @extend .main-axis-space-between;
  @extend .cross-axis-end;
}

.v-between-stretch{
  @extend .vertical;
  @extend .main-axis-space-between;
  @extend .cross-axis-stretch;
}

// LOW LEVEL CLASSES

.cross-axis-start {
  align-items: flex-start;
}

.cross-axis-center {
  align-items: center;
}

.cross-axis-stretch {
  align-items: stretch;
}

.cross-axis-end {
  align-items: flex-end;
}

.main-axis-start {
  justify-content: flex-start;
}

.main-axis-end {
  justify-content: flex-end;
}

.main-axis-center {
  justify-content: center;
}

.main-axis-stretch {
  justify-content: stretch;
}

.main-axis-space-between {
  justify-content: space-between;
}

.main-axis-space-evenly {
  justify-content: space-evenly;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}
